* {
    margin: 0;
}

.banner {
    width: 100%;
}

.FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: 80vh;
    overflow: auto;
    flex-direction: row;
}

.FlexContainer div {
    width: 203px;
    height: 200px;
}

.FlexContainer img {
    width: 250px;
}

.shape {
    position: absolute;
    top: 0;
    left: 0;
}
div .logo {
    width: 130px;
    height: 130px;
    position: relative;
    top: 45px;
    left: 60px;
    filter: drop-shadow(0 0 #000);
    object-fit: contain;
}

.shapeLogo {
    position: relative;
    left: 0;
    top: 0;
}

.shapeLogo:hover {
    transform: scale(1.1);
}